APP_HOST=127.0.0.1
APP_PORT=8000
DEBUG=false
PRELOAD_MODELS_ON_STARTUP=false
MODEL_DIR=app/ml/models/fake_news
MODEL_ONNX_FILE=model.onnx
INFERENCE_MAX_LENGTH=512
INFERENCE_THRESHOLD=0.5

# Integration test input (set as GitHub secret in CI)
FAKE_NEWS_INTEGRATION_TEXT=

GCP_PROJECT_ID=secsuite-fake-news-api
GCP_REGION=europe-west1
SERVICE_NAME=secsuite-fake-news-api
STAGING_SERVICE_NAME=secsuite-fake-news-api-staging
AR_REPO=secsuite-fake-news-api
IMAGE_NAME=secsuite-fake-news-api
MODEL_BUCKET=secsuite-fake-news-api-models-bucket
MODEL_ARTIFACTS_PREFIX=secsuite-fake-news-api-models
GHA_SA_NAME=gha-${GCP_PROJECT_ID}
REPO_SLUG=secsuite/fake-news-api
